.body-signup{
  margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #2193b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0);
  }
  .container-signup img {
      width: 60px;
      height: 60px;
  }
  .container-signup{
      
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  }
  
  .center-signup img{
    width:60px;
    height: 80px;
    padding: 20px 0 0 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    
  }
  .center-signup h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
  
  }
   .button-signup{
     height: 45px;
     margin: 35px 0
   }
    .button-signup {
    width: 50%;
    height: 50px;
    margin-left: 106.665;
    border: 1px solid;
    background: #2193b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0);
    border-radius: 25px;
    font-size:18px;
    color: #e9f4fb;
    font-weight:700;
    cursor: pointer;
    outline: none;
    
   }
   