.body-about{
    min-height: 100vh;
    display: inline-block   ;
    align-items: center;
    justify-content: center;
    background: #2980B9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.about-section{
    /* background: url(pic.jpg) no-repeat left; */
    background-size: 55%;
    background: #2980B9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    overflow: hidden;
    padding: 150px 0;
}

.inner-container{
    width: 55%;
    float: right;

    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    padding: 150px;
}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 50px;
    font-weight: 900;
}

.text-about{
    font-size: 20px;
    color: whitesmoke;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.skills-about{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 20px;
}